.body{
    -fx-background-color: #05000d;
    background-color: #05000d;
}

AnchorPane, ScrollPane, ScrollPane > .viewport, MenuItem{
	-fx-background-color: #000009;
}

.topBar, .context-menu-top, .menu-item-top, Button{
	-fx-background-color: #141418;
	-fx-text-fill: #FFFFFF;
}

Button, MenuButton .label, Label, MenuItem{
	-fx-text-fill: #FFFFFF;
	-fx-font-size: 16.0;
}

Button:hover, .btnIcon:hover{
	-fx-background-color: #75758a;
	-fx-text-fill: #000000;
}

.btnIcon:hover{
 	-fx-background-color: #75758a;
 }

.btn-delete:hover{
	-fx-background-color: #ff0000;
}

.btn-delete-confirm{
	-fx-background-color: #ff0000;
}

.blackBackground{
	-fx-background-color: #000009;
}

.menu-item, .context-menu {
	-fx-background-color: #000000;
	-fx-text-fill: #FFFFFF;
}

.menu-item:hover .label{
	-fx-underline: true;
}

.label-delete:hover .label{
	-fx-text-fill: #ff0000;
}

.libraryPill{
	-fx-background-color: #05000d;
}

.slightRadius{
	-fx-border-radius: 10.0;
  	-fx-background-radius: 10.0;
}

.round {
	-fx-border-radius: 100.0;
  	-fx-background-radius: 100.0;
}

.icon{
	-fx-background-color: #29292A;
	-fx-border-style: none;
  	-fx-border-radius: 500.0;
  	-fx-background-radius: 500.0;
	-fx-background-position: center;
}

.no-bg{
	-fx-background-color: none;
}

.no-bg:hover{
	-fx-text-fill: #FFFFFF;
}

.bordered{
	-fx-border-color: white;
}

TextField{
	-fx-background-color: #29292A;
	-fx-border-style: none;
	-fx-text-fill: #FFFFFF;
}

.search{
	-fx-border-radius: 100.0;
  	-fx-background-radius: 100.0;
}

.btnIcon{
	-fx-background-color: #000009;
}

.scroll-pane .scroll-bar{
	-fx-background-color: #29292A;
}

.scroll-pane .scroll-bar .thumb{
	-fx-background-color: #141418;
}

