.body{
    -fx-background-color: #05000d;
    background-color: #05000d;
}

AnchorPane, ScrollPane{
	-fx-background-color: #000009;
}

Label{
	-fx-text-fill: #FFFFFF;
}

.topBar{
	-fx-background-color: #141418;
}

.slightRadius{
	-fx-border-radius: 10.0;
  	-fx-background-radius: 10.0;
}

.icon{
	-fx-background-color: #29292A;
	-fx-border-style: none;
  	-fx-border-radius: 500.0;
  	-fx-background-radius: 500.0;
	-fx-background-position: center;
}

.no-bg{
	-fx-background-color: none;
}

.bordered{
	-fx-border-color: white;
}

TextField{
	-fx-background-color: #29292A;
	-fx-border-style: none;
	-fx-text-fill: #FFFFFF;
}

.search{
	-fx-border-radius: 100.0;
  	-fx-background-radius: 100.0;
}